.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
nav {
    background-color: rgb(94, 186, 137, 0.8);
    backdrop-filter: blur(7px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    position: fixed;
    width: 100vw;
    top: 0;
}
.nav-title, .nav-subtitle {
    color: white;
    font-weight: 500;
    font-size: 16px;
}
.nav-title {
    margin-bottom: 5px;
}
.chat {
    background-color: white;
    height: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}
.chat-right {
    background-color: rgb(200, 200, 200);
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    align-self: flex-end;
    margin-right: 10px;
}
.chat-left {
    margin-left: 10px;
    width: 300px;
}
.chat-input-wrapper {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
.chat-input-bar {
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-radius: 30px;
    background-color: rgb(200, 200, 200, 0.7);
    backdrop-filter: blur(7px);
}
.chat-input {
    background-color: transparent;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: black;
}
.chat-input:focus {
    outline: none;
}
.chat-input::placeholder {
    color: gray;
}
.chat-send {
    margin-right: 20px;
    background-color: rgb(94, 186, 137);
    border: none;
    border-radius: 18px;
    height: 36px;
    color: white;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
}
.chat-send:hover {
    background-color: rgb(94, 186, 137, 0.8);
}